body,
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/cover-image.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}

.w3-display-right {
  position: absolute;
  top: 75%;
  right: 5%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.stroke {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.menu-icon {
  cursor: pointer;
  position: fixed;
  top: 1%;
  left: 0%;
  z-index: 9999;
  margin: 8px 8px 8px 8px;
  padding: 3px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: 0.3s;
  background-color: black;
  font-weight: 600 !important;
}

.menu-icon:hover {
  color: #f1f1f1;
}

.content {
  margin: 16px;
}

a {
  white-space: nowrap;
}

a:hover {
  color: #4CAF50 !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* Sidenav CSS */
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1 !important;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}